@{
    ViewData["Title"] = "Home Page";
}
@model Product
<div class="text-center">
    <h1>@Model.Name</h1>
    <div class="text-center row">
        <div class="col-6">
            <h4>Categories</h4>
            @if (@Model.MyCategories.Count > 0)
            {
                @foreach (Association asc in @Model.MyCategories)
                {
                    <h6 class="text-primary">@asc.Category.Name</h6>
                }
            }
        </div>
        <div class="col-6">
            <h4>Add Categorie</h4>
            <form asp-action="AddAssociation" asp-controller="Home" method="post">
                <div class="form-group">
                    <select name="CategorieId" class="form-control">
                        @foreach (Category m in ViewBag.AllCategories)
                        {
                            if (!Model.MyCategories.Any(a => a.CategoryId == m.CategoryId))
                            {
                                <option value="@m.CategoryId">@m.Name</option>
                            }
                        }
                    </select>

                    <input type="hidden" name="ProductId" value="@Model.ProductId">
                </div>
                <br>
                <input type="submit" value="Add Association" class="btn btn-warning">
            </form>
        </div>
    </div>