@{
    ViewData["Title"] = "Privacy Policy";
    int? userId = (int)Context.Session.GetInt32("userId");
    string username = Context.Session.GetString("username");

}
@model Post
@await Html.PartialAsync("_Navbar")
<div class="Container">
    <div class="d-flex justify-content-between">
        <div class="text-center">
            <h1>Welcome , <span class="text-primary fst-italic">@username</span></h1>
        </div>
    </div>
    <div class="row">

        <div class="card shadow col-6">
            <div class="crad-body p-3">
                <form asp-action="CreatePost" asp-controller="Home" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <input type="hidden" asp-for="UserId" value="@userId">
                    <div class="form-group mb-3">
                        <label asp-for="Subject" class="form-label"></label>
                        <input asp-for="Subject" class="form-control">
                        <span class="text-danger" asp-validation-for="Subject"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Content" class="form-label"></label>
                        <textarea name="Content" class="Form-control" cols="30" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="Content"></span>
                    </div>

                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary w-100" value="Post">
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="border bg-light bg-gradient-25">
            <table class="table-striped hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Content</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (Post post in ViewBag.AllPosts)
                        {
                            <tr>
                                <td>@post.PostId</td>
                                <td>@post.Title</td>
                                <td>@post.Subject</td>
                                <td>@post.Content</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
