@{
    ViewData["Title"] = "All Posts";
    int? userId = (int)Context.Session.GetInt32("userId");
    string username = Context.Session.GetString("username");

}
@model List<Post>
@await Html.PartialAsync("_Navbar")
<div class="Container">
    <div class="d-flex justify-content-between">
        <div class="text-center">
            <h1>Welcome , <span class="text-primary fst-italic">@username</span></h1>
        </div>
    </div>
    <div class="col-6">
        <div class="border bg-light bg-gradient-25">
            <table class="table-striped hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Content</th>
                        <th>Poster</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (Post post in ViewBag.AllPosts)
                        {
                            <tr>
                                <td>@post.PostId</td>
                                <td>@post.Title</td>
                                <td>@post.Subject</td>
                                <td>@post.Content</td>
                                <td>@post.Poster.Username</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
